.m-top10{
    margin-top: 10px;
}
.navbar-brand{
    height:auto;
}
.form-control + .glyphicon {
    position: absolute;
    left: 0;
    padding: 9px 12px;
    z-index: 12;
    color: #A9B6BC;
}
.has-error .help-block{
    color: #fff;
    background-color: #D03A3C;
    text-align: left;
    padding: 2px 8px;
    font-size: 13px;
    margin-bottom: 0px;
}
.form-control{
    padding-left: 35px;
    border-radius: 0px !important;
}
.login-btn{
    width:100%;
    border-radius:0px;
    background-color:#000;
    color: #fff;
}
.login-btn:hover,.login-btn:focus{
    color:#fff;
}
.reg-btn{
    width:100%;
    border-radius:0px;
    background-color:#F3CB0A;
    color: #000;
}
.reg-btn:hover,.reg-btn:focus{
    color:#000;
}

.input-inline{
    padding-left:0px;
    padding-right:0px;
    margin-bottom:5px;
}
.circular-border{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    padding: 12px;
    border: 1px solid #bbb;
    margin-top:2%
}

.vertical-line{
    border-right:1px solid #bbb;
    height:300px;
    width:50%
}


@media only screen and (max-width: 980px) {
   .vertical-line{
       display:none;
   }
}

.userimg{
    width:100px;
    height:auto;
}
.logout-btn{
    float:right;
}
.productimg{
    border:1px solid #F3CB0A;
    border-radius:2px;
}
