<div ng-controller="dashboardController as ds">
    <div class="col-md-8">
        <img src = "{{ds.imgPath}}" class="userimg"/>
        <div><span style="color:#800000" class="text-uppercase">WELCOME</span> <span style="color:#F3CB0A" class="text-uppercase"><b>{{ds.userName}}</b></span></div>
        <div><span style="color:#800000">Email</span> <span style="color:#F3CB0A"><b>{{ds.email}}</b></span></div>
    </div>
    <div ng-controller="logoutController as lg" class="col-md-4">
        <button class="btn btn-warning logout-btn" ng-click="lg.logout()">LOGOUT</button>
        <div style="clear:both"></div>
    </div>
    <div style="clear:both"></div>
    <hr>
    <h4 class="text-center"><i>Meals On Wheels</i></h4>
    <div class="col-md-12" >
        <div  ng-repeat="product in ds.products">
            <div class ="col-md-4 col-sm-4 text-left">
                <img src ="{{product.imgPath}}" class="productimg" />
               <span>Product Name: {{product.productName}}</span> <br>
                <span>Price: {{product.price}}</span> <br>
                <span>Product Id: {{product.productId}}</span><br>
                <button ng-click="showOrder(product.productId);" class="btn btn-warning text-center"> Buy</button>
            </div>
            </div>
        </div>
</div>

