<div ng-controller="orderSummaryController as os" class="backgroundimg">
    <table>
        <tr>
            <img src ="{{os.imgPath}}"/>
        </tr>
        <tr>
            <td>Product Id</td>
            <td>{{os.productId}}</td>
        <tr>
        <tr>
            <td>Product Name</td>
            <td>{{os.productName}}</td>
        <tr>
        <tr>
            <td>Price</td>
            <td>{{os.price}}</td>
        <tr>
        <tr>
            <td>Vat</td>
            <td>{{os.vat}}</td>
        <tr>
        <tr>
            <td>Delivery Charge</td>
            <td>{{os.delivery_charge}}</td>
        <tr>
    </table>
    <div class="alert alert-success" role="alert" ng-show="os.ordersuccess">Your order has been successfully completed !</div>
    <button class="btn btn-success" ng-click="os.ordersuccess=1">Confirm Order</button>
    <a class="btn btn-success" ng-show="os.ordersuccess" ng-href="#/dashboard">Back To Products</a>

</div>